{% extends "examples/example.html" %}
{% block title %}justified nav{% endblock %}
{% block css %}
  {{ super() }}
  <link href="justified-nav.css" rel="stylesheet">
{% endblock %}
{% block body_class %}{{ super() }}justified-nav-example{% endblock %}
{% block content %}
<div class="container">
  <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
  <div class="masthead">
    <h3 class="text-muted">Project name</h3>
    <nav>
      <ul class="nav nav-justified">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Projects</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Downloads</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>Marketing stuff!</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
      nibh, ut fermentum massa justo sit amet.</p>
    <p>
      <a class="btn btn-lg btn-success" href="#" role="button">Get started today</a>
    </p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <h2>Safari bug warning!</h2>
      <p class="text-danger">As of v9.1.2, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified
        nav that are cleared upon refreshing.</p>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod
        semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      <p>
        <a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
  </div>

  <!-- Site footer -->
  <footer class="footer">
    <p>&copy; 2016 Company, Inc.</p>
  </footer>

</div>
<!-- /container -->
{% endblock %}