<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		<title>{% block title %}{% endblock %} - My Webpage</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% block css %}
			<link rel="stylesheet" href="{{ base_path }}/css/styles.css">	
		{% endblock %}
	{% endblock %}
</head>

<body class="navbar-fixed{% block body_class %}{% endblock %}">
	{% block linkhome %}{% endblock %}
	{% include 'src/templates/includes/nav.html' %}
	<div id="main-content">
		{% block content %}{% endblock %}
	</div>
	{% block footer %}{% endblock %}
	{% block js %}
		<script src="{{ base_path }}/js/all.js"></script>
	{% endblock %}
</body>

</html>