html,body{ 
	width:100%;
	height:100%;
}
canvas{
  display:block;
  vertical-align:bottom;
}
#particles-js{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #24292e;  
}
