{% extends "examples/example.html" %}
{% block title %}Jumbotron narrow{% endblock %}
{% block css %}
  {{ super() }}
	<link href="jumbotron-narrow.css" rel="stylesheet">
{% endblock %}
{% block body_class %}{{ super() }}jumbotron-narrow-example{% endblock %}
{% block content %}
{{ super() }}
<div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active">
            <a href="#">Home</a>
          </li>
          <li role="presentation">
            <a href="#">About</a>
          </li>
          <li role="presentation">
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Project name</h3>
    </div>

    <div class="jumbotron">
      <h1>Jumbotron heading</h1>
      <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>
        <a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a>
      </p>
    </div>

    <div class="row marketing">
      <div class="col-lg-6">
        <h4>Subheading</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>

      <div class="col-lg-6">
        <h4>Subheading</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
    </div>

    <footer class="footer">
      <p>&copy; 2016 Company, Inc.</p>
    </footer>

  </div>
  <!-- /container -->
{% endblock %}
