{% extends "src/templates/base.html" %}
{% block body_class %} example {% endblock %}
{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ base_path }}/css/styles.css">
{% endblock %}
{% block js %}
  <script src="{{ base_path }}/js/all.js"></script>
  <script src="{{ base_path }}/js/holder.js"></script>
{% endblock %}