{% extends "examples/example.html" %}
{% block title %}Signin{% endblock %}
{% block css %}
  {{ super() }}
  <link href="signin.css" rel="stylesheet">
{% endblock %}
{% block body_class %}{{ super() }}signin-example{% endblock %}
{% block content %}
<div class="container">
    <form class="form-signin">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

  </div>
  <!-- /container -->
{% endblock %}