<nav id="navbar-top" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                Gulp, Sass, Livereload, Bootstrap                
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Templates examples
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/examples/blog" class="" title="blog">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">blog</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/carousel" class="" title="carousel">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">carousel</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/cover" class="" title="cover">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">cover</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/dashboard" class="" title="dashboard">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/grid" class="" title="grid">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">grid</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/jumbotron" class="" title="jumbotron">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">jumbotron</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/jumbotron-narrow" class="" title="jumbotron-narrow">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">jumbotron-narrow</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/justified-nav" class="" title="justified-nav">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">justified-nav</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/navbar" class="" title="navbar">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">navbar</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/navbar-fixed-top" class="" title="navbar-fixed-top">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">navbar-fixed-top</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/navbar-static-top" class="" title="navbar-static-top">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">navbar-static-top</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/non-responsive" class="" title="non-responsive">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">non-responsive</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/offcanvas" class="" title="offcanvas">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">offcanvas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/signin" class="" title="signin">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">signin</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/starter-template" class="" title="starter-template">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">starter-template</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/sticky-footer" class="" title="sticky-footer">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">sticky-footer</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/sticky-footer-navbar" class="" title="sticky-footer-navbar">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">sticky-footer-navbar</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/theme" class="" title="theme">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">theme</span>
                            </a>
                        </li>
                        <li>
                            <a href="/examples/tooltip-viewport" class="" title="tooltip-viewport">
                                <span class="glyphicon glyphicon-menu-right btn-xs"></span>
                                <span class="name">tooltip-viewport</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>