{% set base_path = "." %}
{% extends "src/templates/base.html" %}
{% block title %}Template for Bootstrap{% endblock %}
{% block body_class %} home {% endblock %}

{% block content %}
{{ super() }}
  <div class="inner-container">
    <h1 class="container">Gulp, Sass, Livereload, Bootstrap ...</h1>
  </div>
  <div id="particles-js"></div>
{% endblock %}
{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ base_path }}/particles/css/style.css">
{% endblock %}
{% block js %}
  <script src="{{ base_path }}/particles/particles.js"></script>
  <script src="{{ base_path }}/particles/js/app.js"></script>
  <script>
    particlesJS.load('particles-js', '{{ base_path }}/particles/particles.json', function() {
      console.log('particles.js loaded - callback')
    })
  </script>
  {{ super() }}
{% endblock %}