body {
  &.navbar-fixed {
    padding-top: $navbar-height;
    &.home {
      #navbar-top {
        padding-top: $line-height-computed;
        box-shadow: none;
        border-bottom: 0;
        background-color: transparent;
        .navbar-nav,
        .navbar-header {
          a {
            font-size: 1.2em;
          }
        }        
      }
    }
    #navbar-top {
      z-index: 999999;
      box-shadow: 0 -5px 20px 0 #333;
      border-bottom: 1px solid #555;
      background-color: #24292e;
      .navbar-nav,
      .navbar-header {
        background-color: transparent;
        font-weight: normal;
        text-shadow: none;
        font-size: 1.2em;
        a {
          color: darken($brand-info, 20%);
          font-weight: normal;
          text-shadow: transparent;
          &:hover {
            background-color: transparent
          }
        }
        .dropdown {
          .dropdown-toggle {
            background-color: transparent;
          }
          .dropdown-menu {
            background-color: #24292e;            
            li a {
              color: darken($brand-info, 20%);
              font-size: 14px;
              font-weight: normal;
            }
          }
        }
      }
    }
    margin: 0;
    #main-content {
      display: table;
      width: 100%;
      height: 100%;
      .inner-container {
        display: table-cell;
        vertical-align: middle;
        h1 {
          text-shadow: 0 1px 3px rgba(0,0,0,.5);
          color: lighten($brand-info, 6%);
          position: relative;
          font-size: 2.6em;        
          z-index: 9999;        
        }
      }        
    }
  }
}