body {
  &.example {
    #main-content {
      .navbar-fixed-top {
        top: $navbar-height;
      }
    }
  }
  &.carousel-example {
    #main-content {
      .navbar-wrapper {
        top: auto;
      }
    }    
  }
  &.cover-example {
    #navbar {
      text-shadow: none
    }
    .masthead {
      top: 50px
    }
  }
  &.dashboard-example {
    padding-top: $navbar-height * 2;
    #main-content {
      .sidebar {
        top: $navbar-height * 2;
      }
    }
  }
  &.navbar-example {
    #main-content {
      padding-top: $line-height-computed
    }
  }
  &.navbar-fixed-top-example {
    #main-content {
      .jumbotron {
        margin-top: $navbar-height + $line-height-computed;
      }
    }
  }  
  &.non-responsive-example {
    #main-content {
      padding-top: $navbar-height;
    }
  }
  &.offcanvas-example {
    #main-content {
      padding-top: $navbar-height + $line-height-computed;
    }
  }
  &.starter-template-example {
    #main-content {
      padding-top: $navbar-height + $line-height-computed;
    }
  }
  &.sticky-footer-example {
    #main-content {
      position: static;
    }
  }
  &.sticky-footer-navbar-example {
    #main-content {
      position: static;
      padding-top: $navbar-height + $line-height-computed;
    }
  }
  &.theme-example {
    #main-content {
      position: static;
      padding-top: $navbar-height + $line-height-computed;
    }
  }
}